.multiplayer-overlay{
    width: 100vw;
    height: 100vh;
    z-index:8;
    position: fixed;
    top:0;
    left:0; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(100,100,100,0.75);
     margin:0 auto;
}

.multi-result{

     background-color: rgba(250,250,250);
    width: 654px;
    height: 680px;
   /*  position: sticky;
    top:40px; */
    z-index:10;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);

    transform: scaleX(0.80) scaleY(0.80)
}

.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
h2{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    font-size:48px;
    color: var(--blue-950);
    text-align: center;
    margin: 40px auto 0px ;
    text-align: center;
}

h3 {
     font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    font-size:20px;
    color: var(--blue-400);
    text-align: center;
}
.results-board{
    width: 76%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:2px;
    align-items: center;
}


.winner, .not-winner{

    width:100%;
    height: 73px;
    background-color: var(--blue-100);
    color: var(--blue-400);
     font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    font-size:18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:16px;
    align-items: center;
    border-radius: 10px;
    padding: 0px 40px;
    margin: 6px 16px;

}

.winner{
   
    background-color: var(--blue-800);
    color: white;
}

.btns{ margin: 40px auto;
     
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
    }


.setup-btn{
    color: var(--blue-800);
    background-color: var(--blue-400);

}

.setup-btn:hover{
    color: white;
    background-color: var(--blue-400);
    cursor: pointer;
}


@media (max-width: 1200px) {
    .multi-result{
        width: 90%;
        height: 96vh;
        
        gap:2px;
       /*  position:absolute;
        top: 80px; */
        margin: 25px auto;
    }

    .results-board{
        width: 70%;
        height: 55%;
      
    }

    .btns{
        width:70%;
        flex-direction: column;
        gap:12px;
    }
  
}

@media (max-width: 900px) {

    .multi-result{
        width: 55%;
        height: 96vh;
        
        gap:2px;
        /* position:absolute;
        top: 0px; */
        margin: 5px auto;
    }

    .results-board{
        width: 80%;
        height: 55%;
      
    }

    .btns{
        width:80%;
        flex-direction: column;
        gap:12px;
    }

}
@media (max-width: 600px) {
   

    .multi-result{
        width: 90%;
        height: 90%;
       
        margin: 5px auto;
       /*  position: absolute;
         top: 30px; */
    }
   
    .results-board{
        width: 90%;
    }

    .btns{
        width:90%;
        flex-direction: column;
        gap:12px;
    }
  
}